includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: max
  cache:
    nodesByStringCountMax: 512
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  paths:
      - ./src/
  ignoreErrors:
    - message: '#^Action callback returns bool but should not return anything\.$#'
      path: ./src/TransientCleaner.php
